body {
  background-color: red;
  background-image: url(131523e1e9a86fd248daf936be16e321.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19b3e6;
  color: #fff;
  font-size: 1.8em; }

